<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Albums</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles.css"/>
</head>
<body>

    <div class="container">
        <legend>Add a Song</legend>
        <form method="POST" action="/albums">
            <div class="form-group">
                <label for="title">Title:</label>
                <input name="title" type="text" id="title" class="form-control">
            </div>

            <div class="form-group">
                <label for="artist">Artist:</label>
                <input name="artist" type="text" id="artist" class="form-control">
            </div>

            <div class="form-group">
                <label for="songCount">Track Number:</label>
                <input name="songCount" type="number" id="songCount" min="0" class="form-control">
            </div>

            <div class="form-group">
                <label for="length">Length in secs:</label>
                <input name="length" type="number" id="length" min="0" class="form-control">
            </div>

            <div class="form-group">
                <label for="imageUrl">Image URL: </label>
                <input name="imageUrl" type="url" id="imageUrl" class="form-control">
            </div>

            <button type="submit" class="btn btn-primary btn-md">Submit</button>
        </form>
    </div>

    <div class="container">
        <dl class="dl-horizontal">
            <h3>All Songs</h3>
            <div th:each="album: ${albums}">

                <dt>Song</dt>
                <dd th:text="${album.title}"></dd>

                <dt>Artist</dt>
                <dd th:text="${album.artist}"></dd>

                <dt>Song Count</dt>
                <dd th:text="${album.songCount}"></dd>

                <dt>Length</dt>
                <dd th:text="${album.length}"></dd>

                <dt>Album Cover</dt>
                <dd><img th:src="${album.imageUrl}" alt="album cover"/></dd>

            </div>
        </dl>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>

</html>