<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Albums</title>
</head>
<body>
    <h1>All Albums</h1>

    <div th:each="album: ${albums}">
        <h3 th:text="${album.title}"></h3>

        <p>Artist: <span th:text="${album.artist}"></span></p>
        <p>Song Count: <span th:text="${album.songCount}"></span></p>
        <p>Length: <span th:text="${album.length}"></span></p>
        <img th:src="${album.imageUrl}"/>
    </div>

    <div>
        <form method="POST" action="/albums">
            Title: <input name="title">
            Artist: <input name="artist">
            Song Count: <input type="number" name="songCount">
            Length: <input type="number" name="length">
            Image Src: <input type="url" name="imageUrl">
            <input type="submit"/>
        </form>
    </div>
</body>
</html>